<LinkTo @route="match-details" @model={{@match.id}}>
  <div class="flex flex-col mx-5 my-7 bg-slate-200 rounded shadow-lg">
    <div
      id="details"
      class="flex justify-center items-center sm:flex-row flex-col"
    >
      <p>{{@match.equipo_local}}</p>
      <img
        class="p-4 max-w-[150px] max-h-[150px]"
        src="https://www.sevillafc.es/sites/default/files/styles/cuadrada_600x600/public/history/entities/escudosuizo.jpg?itok=kxf1CTrZ"
        alt="Escudo"
      />
      <div class="flex flex-row">

        <div class="flex flex-col text-center p-4">
          <p class="font-semibold">1</p>
          <p class="font-bold">{{@match.porcentaje_victoria_local}}%</p>
        </div>
        <div class="flex flex-col text-center p-4">
          <p class="font-semibold">X</p>
          <p class="font-bold">{{@match.porcentaje_empate}}%</p>
        </div>
        <div class="flex flex-col text-center p-4">
          <p class="font-semibold">1</p>
          <p class="font-bold">{{@match.porcentaje_victoria_visitante}}%</p>
        </div>

      </div>
      <img
        class="p-4 max-w-[150px] max-h-[150px]"
        src="https://www.sevillafc.es/sites/default/files/styles/cuadrada_600x600/public/history/entities/escudosuizo.jpg?itok=kxf1CTrZ"
        alt="Escudo"
      />
      <p>{{@match.equipo_visitante}}</p>

    </div>
    <div
      id="date"
      class="flex justify-center text-center items-center flex-col"
    >
      <p class="font-extrabold py-4">Fecha</p>
      <p>{{@match.fecha}}</p>
    </div>
  </div>
</LinkTo>